In [1]:
#import dependencies
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests
from pprint import pprint
import json

In [2]:
#set the base url
burl = 'https://www.deptofnumbers.com/rent/'

In [23]:
#set a list of states to scrape
states = ['California', 'Arizona', 'Colorado', 'Idaho', 'New-Mexico', 'Nevada', 'Oregon', 'Utah', 'Washington']

rent_tables = []

for state in states:
    page = requests.get(burl + state)
    soup = bs(page.text, 'lxml')
    rent_table = soup.find('table', attrs={'summary': 'Nominal gross rent rates since 2005'})
    rent_df = pd.read_html(str(rent_table))[0]
    transposed = rent_df.transpose()
    #rent_df
    #rent_dict = rent_df.to_dict('split')
    rent_tables.append(transposed)

In [30]:
df2 = pd.concat(rent_tables, sort=True)
df2 = df2.drop_duplicates()
df2.columns = df2.loc['Date']
df2 = df2.transpose()
df2 = df2.drop(['Date'], axis=1)
df2

,US Median,California Median,California Average,Arizona Median,Arizona Average,Colorado Median,Colorado Average,Idaho Median,Idaho Average,New Mexico Median,New Mexico Average,Nevada Median,Nevada Average,Oregon Median,Oregon Average,Utah Median,Utah Average,Washington Median,Washington Average
Date,,,,,,,,,,,,,,,,,,,
2016,$981,"$1,375","$1,445",$976,$991,"$1,171","$1,178",$790,$782,$804,$788,"$1,003","$1,038","$1,015","$1,055",$954,$986,"$1,135","$1,184"
2015,$959,"$1,311","$1,377",$933,$948,"$1,111","$1,139",$770,$753,$783,$778,$980,"$1,018",$943,$975,$925,$941,"$1,080","$1,116"
2014,$934,"$1,268","$1,333",$916,$939,"$1,020","$1,057",$755,$764,$777,$779,$955,"$1,000",$924,$963,$886,$913,"$1,032","$1,081"
2013,$905,"$1,224","$1,289",$890,$920,$971,"$1,014",$725,$737,$772,$762,$952,$993,$887,$932,$881,$912,$989,"$1,037"
2012,$884,"$1,200","$1,258",$888,$922,$934,$977,$702,$714,$753,$753,$944,$981,$862,$895,$851,$879,$954,"$1,006"
2011,$871,"$1,174","$1,224",$850,$878,$900,$950,$689,$678,$729,$721,$936,$983,$840,$874,$822,$838,$930,$980
2010,$855,"$1,163","$1,214",$844,$881,$863,$905,$683,$676,$699,$688,$952,$992,$816,$850,$796,$819,$908,$956
2009,$842,"$1,155","$1,204",$859,$888,$851,$899,$694,$683,$680,$683,$993,"$1,029",$819,$848,$793,$834,$911,$952
2008,$824,"$1,135","$1,187",$866,$880,$848,$883,$690,$685,$668,$663,"$1,011","$1,042",$780,$807,$784,$797,$874,$915
2007,$789,"$1,078","$1,132",$819,$848,$788,$823,$654,$642,$637,$629,$980,"$1,006",$743,$764,$733,$749,$816,$855
2006,$763,"$1,029","$1,077",$762,$791,$780,$807,$623,$603,$617,$598,$917,$935,$714,$745,$697,$712,$779,$810
2005,$728,$973,"$1,020",$717,$731,$757,$786,$594,$576,$587,$576,$861,$868,$689,$708,$665,$680,$741,$763